.margin-right-5 {
    margin-right: 5px
}

.margin-5 {
    margin: 0 5px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.upload-section {
    cursor: pointer;
}

.upload-icon, .delete-icon {
    height: 20px;
}